@import "~/src/styles/functions";

.field {
  background-color: transparent;
  border-radius: rem(25px);
  position: relative;
  height: rem(70px);
  min-width: rem(150px);
  transition: 0.3s;
  overflow: hidden;

  &.active {
    background-color: white;
    min-width: rem(347px);

    .button {
      min-width: rem(96px);
    }
  }

  @media (max-width: rem(400px)) {
    height: rem(50px);
    min-width: rem(120px);
    border-radius: rem(20px);
  }

  .button {
    height: 100%;
    // width: 100%;
    min-width: rem(150px);
    color: white;
    border-radius: rem(25px);
    overflow: hidden;
    background-color: hsla(32, 100%, 54%, 1);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.input {
  position: absolute;
  left: rem(22.5px);
  top: 50%;
  transform: translateY(-50%);
  color: hsla(208, 15%, 46%, 1);
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: rem(18px);
  max-width: rem(230px);
}

.buttonText {
  font-family: HeadingNow;
  text-transform: uppercase;
  font-size: rem(35px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;

  &.active {
    opacity: 1;
  }

  @media (max-width: rem(400px)) {
    font-size: rem(30px);
  }
}
