@import "~/src/styles/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;
  height: 70px;
  background-color: hsla(32, 100%, 62%, 1);
  color: white;
  border-radius: 20px;
  transition: 0.3s;

  font-family: HeadingNow;
  font-size: 35px;
  text-transform: uppercase;

  @include desktop() {
    &:hover {
      transform: translateY(-2px);
    }
  }

  &.blue {
    background-color: hsla(209, 20%, 90%, 1);
    color: hsla(208, 15%, 46%, 1);
  }
}
