$headerHeight: 132px;
$headerHeightTablet: 80px;
$headerHeightMobile: 69px;

// $backGroundColor: hsla(247, 15%, 12%, 1);
$backGroundColor: hsla(250, 14%, 9%, 1);
$fontColorMain: hsla(275, 20%, 90%, 1);
$outstandingColor: hsla(32, 100%, 62%, 1);
$buttonNonActive: hsla(275, 20%, 90%, 0.1);
$buttonActive: hsla(266, 100%, 69%, 1);


$breakPoint1: 1140px;
$breakPoint1half: 860px;
$breakPoint2: 760px;
$breakPoint3: 520px;