.chapterCard {
  width: 100%;
  height: 400px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  color: white;
}

.imageWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.title {
  position: absolute;
  bottom: 36px;
  left: 58px;
  max-width: 245px;
  font-size: 50px;
  line-height: 90%;
  font-family: HeadingNow;
  text-transform: uppercase;
  z-index: 4;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.chapterNumber {
  position: absolute;
  top: 54px;
  right: 58px;
  line-height: 90%;
  font-family: HeadingNow;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 4;
}

.description {
  position: absolute;
  left: 60px;
  bottom: 35px;
  z-index: 4;
  max-width: 416px;
}

.dateWrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 60px;
  bottom: 35px;
  z-index: 4;
  overflow: hidden;
}

.date {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: HeadingNow;
  font-size: 32px;
  text-transform: uppercase;

  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 20px;
}

.backgroundBlur {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 2;
  background: hsla(208, 15%, 46%, 0.25);
  backdrop-filter: blur(15px);
}
.backgroundMatte {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 2;
  background-color: hsla(211, 47%, 83%, 0.8);
  backdrop-filter: blur(50px);
}
