.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    position: relative;
    overflow: hidden;
    height: 80px;
    transition: 0.3s;

    font-family: HeadingNow;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;

    &:hover{
        // transform: translateX(5px);
    }

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: hsla(209, 48%, 49%, 0.3);
      backdrop-filter: blur(5px);
      z-index: 2;
    }

    .imageWrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .date {
      position: relative;
      z-index: 3;
      font-size: 25px;
      line-height: 90%;
    }

    .chapterNumber {
      position: relative;
      z-index: 3;
      font-size: 12px;
      line-height: 90%;
    }

    .link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 4;
    }
  }