$headerHeight: 58px;
$paddingTop: 57.5px;
$paddingBottom: 42px;

.cards {
  background-color: hsla(218, 57%, 97%, 1);
  min-height: var(--height);
}
.container {
  max-width: 1740px;
  padding: 0 50px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: minmax(300px, 364px) minmax(50px, 197px) 1fr 40px 100px;
  grid-template-rows: $paddingTop $headerHeight 1fr auto $paddingBottom;
  grid-template-areas:
    ". . chapters . tabs"
    "header . chapters . tabs"
    "titlePart . chapters . tabs"
    "footer . chapters . tabs"
    ". . chapters . tabs";
  height: var(--height);
}

.header {
  grid-area: header;
  .logoWrapper {
    position: relative;
    width: 100px;
    height: $headerHeight;
  }
}

.titlePart {
  grid-area: titlePart;
  max-width: 364px;
  color: hsla(208, 15%, 46%, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  gap: 39px;

  .title {
    font-family: HeadingNow;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 90%;
  }

  .description {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
  }
}

.chapters {
  grid-area: chapters;
  display: flex;
  flex-direction: column;
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
  gap: 25px;
  height: 100%;
  overflow-y: auto;
}

.tabs {
  grid-area: tabs;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  grid-area: footer;
  max-width: 319px;

  .link {
    color: hsla(209, 51%, 24%, 1);
  }
}
