@import "~/src/styles/variables";

.cards {
  background-color: hsla(218, 57%, 97%, 1);
  height: var(--height);
  @media (max-width: $breakPoint1) {
    overflow-y: auto;
  }
}
.grid {
  max-width: 1740px;
  padding: 0 50px;
  margin: 0 auto;

  display: grid;
  grid-template-columns:
    minmax(360px, 432px) minmax(20px, 128px) minmax(700px, 1fr)
    40px 100px;
  grid-template-rows: $paddingTop $headerHeight 1fr auto $paddingBottom;
  grid-template-areas:
    ". . chapters . tabs"
    "header . chapters . tabs"
    "titlePart . chapters . tabs"
    "footer . chapters . tabs"
    ". . chapters . tabs";
  height: var(--height);

  @media (max-width: $breakPoint1) {
    grid-template-columns: 1fr 40px 100px;
    grid-template-rows: $paddingTop $headerHeight auto auto $paddingBottom;
    grid-template-areas:
      ". . ."
      "header header header"
      "titlePart titlePart titlePart"
      "chapters . tabs"
      "footer footer footer";
    height: auto;
  }
  @media (max-width: $breakPoint2) {
    grid-template-columns: 1fr;
    grid-template-rows: $paddingTop $headerHeight auto auto $paddingBottom;
    grid-template-areas:
      "."
      "header"
      "titlePart"
      "chapters"
      "footer"
      ".";
  }
  @media (max-width: $breakPoint3) {
    grid-template-rows: $paddingTop $headerHeightTablet auto auto $paddingBottom;
    padding: 0 21px;
  }
}

.header {
  grid-area: header;
  .logoWrapper {
    position: relative;
    width: 100px;
    height: $headerHeight;

    @media (max-width: $breakPoint3) {
      width: 78px;
      height: $headerHeightTablet;
    }
  }
}

.titlePart {
  grid-area: titlePart;
  color: hsla(208, 15%, 46%, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  gap: 39px;

  .title {
    font-family: HeadingNow;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 90%;

    @media (max-width: $breakPoint3) {
      font-size: 46px;
    }
  }

  .description {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;

    @media (max-width: $breakPoint3) {
      font-size: 15.5px;
    }
  }

  @media (max-width: $breakPoint1) {
    margin-top: 100px;
    max-width: 500px;
  }
  @media (max-width: $breakPoint3) {
    gap: 31px;
    margin-top: 91px;
    padding-bottom: 0;
    max-width: 300px;
  }
}

.chapters {
  grid-area: chapters;
  display: flex;
  flex-direction: column;
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
  gap: 25px;
  height: 100%;
  overflow-y: auto;

  @media (max-width: $breakPoint3) {
    padding-top: 66px;
    gap: 46px;
  }
}

.tabs {
  grid-area: tabs;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (max-width: $breakPoint1) {
    padding-top: $headerHeight;
    height: min-content;
    margin: 0;
    position: sticky;
    top: 0;
  }
  @media (max-width: $breakPoint2) {
    display: none;
  }
}

.footer {
  grid-area: footer;
  width: 100%;
  max-width: 319px;

  @media (max-width: $breakPoint1) {
    margin: 0 auto;
  }

  .link {
    color: hsla(209, 51%, 24%, 1);
  }
}
